[xquik]
api_key = xxxxxxxxxxxxxxxxxxxxxxxxxxx

; Soon there is a array for base_url and endpoint are listed in offc docs 
; Docs https://docs.xquik.com/
; arr endpoint

base_url = https://xquik.com/api/v1/extractions 

;end arr endpoint

[twitter_cookies]
auth_token = xxxxxxxxxxxxxxxxxx
ct0 = xxxxxxxxxxxx

[server]
host = 127.0.0.1
port = 5000
debug = true